body {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    font-family: 'Work Sans';
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

h1 {

    font-size: 65px;
}

h2 {
    font-size: 40px;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}


/* CSS for Section One */
.primary-btn {
    margin-top: 32px;
    border: 0;
    border-radius: 5px;
    background-color: #F15B22;
    color: white;
    padding: 21px;
    font-weight: 600;
    font-size: 20px;
}

.primary-btn:hover {
    cursor: pointer;
}

.sectionOne {
    margin-top: 216px;
    width: 525px;
    height: 228px;
    margin-left: 845px;
}



/* CSS for Section Two */
.sectionTwo {
    margin-top: 90px;
    display: flex;
    margin-left: 206px;

}

.sectionTwo h2 {
    margin-right: 35%;
    margin-left: 6%;
    margin-top: 100px;
}

.section-content {
    margin-right: 35%;
    margin-left: 6%;
}

.green {
    color: #16D887;
}

ul li {
    list-style: none;
    padding-bottom: 4px;
}



/* CSS for Section Three */

#sectionThreeHeader {
    text-align: center;
    margin-top: 100px;
}

.Section3Content {
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 50px;
    justify-content: space-around;
    text-align: center;
}


/* CSS for Banner Section */

.banner {
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 990px;
    height: 300px;
    margin-top: 100px;
    margin-left: 235px;
    margin-right: 230px;
    background-size: contain;
}

.banner-content {
    padding: 1px 350px 10px 64px;
}

.banner-content h2 {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;

}

.banner-content button {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 20px 36px 20px 36px;
    color: #F15B22;
    border-radius: 5px;
    border: 0;
    margin-bottom: 3px;
}

.banner-content button:hover {
    cursor: pointer;
}




/* CSS for Footer Section */

.footer {
    width: 100%;
    height: 577px;
    display: flex;
    position: absolute;
    margin: 30px 0 0 -10px;
    background: #151414;
}

.footer h2 {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    width: 50%;
}

.footer h3 {
    font-weight: 600;
    font-size: 25px;
    color: #F8F8F8;
}

input {
    background-color: #151414;
    width: 325px;
    height: 24px;
    color: #F3F3F3;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #F3F3F3;
}

.footer button {
    border-radius: 8px;
    background-color: white;
    color: #F15B22;
    padding: 15px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 12px;
}

.footer button:hover {
    cursor: pointer;
}

.footer-content {
    margin-left: 200px;
    margin-top: 100px;

}

.subscribe {
    margin-right: 200px;
    margin-top: 130px;
}

.footer img {
    margin-left: auto;

}

.footer img:hover {
    cursor: pointer;

}


/* CSS for About Section */

.about {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.about h2 {
    margin-top: 450px;
    padding-top: 50px;
    text-align: center;
}

.about p {
    padding: 5px;
    padding-bottom: 50px;
    text-align: center;
}