body {
    background-image: url('/images/banner/banner1.png');
    background-repeat: no-repeat;
    font-family: 'Work Sans';
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

h1 {

    font-size: 65px;
}

h2 {
    font-size: 40px;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.primary-btn {
    margin-top: 32px;
    border: 0;
    border-radius: 5px;
    background-color: #F15B22;
    color: white;
    padding: 21px;
    font-weight: 600;
    font-size: 20px;
}

.sectionOne {
    margin-top: 216px;
    width: 525px;
    height: 228px;
    margin-left: 845px;
    font-family: 'Work Sans';
}

.sectionTwo {
    margin-top: 431px;
    display: flex;
    margin-left: 206px;

}


.sectionTwo h2 {
    margin-right: 35%;
    margin-left: 6%;
    margin-top: 170px;
}

.section-content {
    margin-right: 35%;
    margin-left: 6%;
}

.green {
    color: #16D887;
}

ul li {
    list-style: none;
    padding-bottom: 4px;
}

#sectionThreeHeader {
    text-align: center;
    margin-top: 100px;
}